.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #26363f;
}

.footer-elem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.contacts img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    transition-property: filter, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.contacts img:hover {
    cursor: pointer;
    filter: opacity(0.3) drop-shadow(0 0 0 #89faff) brightness(3);
    transform: rotate(360deg);
}
