.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    padding: 60px 40px 60px 40px;
    box-shadow: 8px 6px 12px #cb9eff;
    position: relative;
}

.container-of-elem-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-of-elem-form label {
    padding: 0 0 5px 2px;
    color: black;
    font-weight: bold;
}

.form-element {
    height: 35px;
    width: 270px;
    border: 1px solid #999999;
    border-radius: 8px;
    color: #393939;
    font-size: 18px;
    outline: none;
    padding-left: 10px;
    opacity: 0.75;
    margin-bottom: 30px;
}

.form-element:focus {
    box-shadow: 0 2px 2px #61ef2c;
}

.submit-btn {
    width: 280px;
    height: 35px;
    border-radius: 15px;
    background-color: white;
    border: 3px solid #b08bdc;
    color: black;
    font-weight: 600;
    overflow: hidden;
    position: relative;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: #b08bdc;
    color: white;
}

.hide-form {
    display: none;
}

.display-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(38, 54, 63, 0.8);
    position: absolute;
    left: 0;
    top: 0;
}

.close-elem {
    position: relative;
    width: 100%;
}

.close-elem img {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 95%;
    top: -35px;
}

.close-elem img:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
}

.pulse {
    background-color: #b08bdc;
    border-radius: 50%;
    animation: pulse 0.7s ease-out;
    transform: scale(0);
    position: absolute;
}

@keyframes pulse {
    to {
        transform: scale(2);
        background-color: #fff;
        opacity: 0.5;
    }
}

.field-highlight {
    box-shadow: 0 3px 3px #FF4837;
}

.hide-el-of-form {
    display: none;
}
