main {
    flex: 1 1 auto;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.main-elem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
}

.information-elem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.information {
    text-align: justify;
    line-height: 1.2em;
    text-indent: 1.5em;
}

.information p {
    padding: 0 100px 0 100px;
}


.countries table {
    border-collapse: collapse;
    margin: 50px 0 50px 0;
}

.countries thead th{
    background-color: #bb92e7;
}

.countries th, td {
    padding: 20px;
    border: 1px black solid;
    text-align: center;
    vertical-align: center;
}
