.panel-of-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e5e5;
    height: 80px;
    box-shadow: 0 1px 5px grey;
}

.container-of-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 350px;
}

.elem-of-container button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    transition-property: background-color;
    font-weight: 700;
    color: white;
    background: rgb(119, 227, 134);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
}

.elem-of-container button:hover {
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transform-origin: left top;
    background: #6fe84f;
    /*text-decoration: underline;*/
    cursor: pointer;
    border-bottom: 1px solid black;
}

