<!--<link rel="stylesheet" type="text/css" href="public/stylesheet/header.css">-->
<!--<link rel="stylesheet" type="text/css" href="public/stylesheet/formStyle.css">-->
<header class="header">

    <div class="logo">
        <img src="../../../public/images/globus.png">
    </div>

    <nav class="nav-panel">
        <div class="links">
            <a href="http://localhost:3000/">Home</a>
            <a href="http://localhost:3000/about">About</a>
        </div>
        <div class="nav-container">
            <div class="elem-of-container">
                <button>SIGN IN</button>
            </div>
            <div class="elem-of-container">
                <button>SIGN UP</button>
            </div>
        </div>
    </nav>

</header>
<!--<script type="module" public="public/view/chooseForm.js"></script>-->
<!--<script type="module" public="public/view/form/formBtns.js"></script>-->

