<div class="hide-reg-form">
    <div class="reg-form-container">
        <form class="reg-form" name="form">
            <div class="reg-close-elem">
                <img src="../../images/close_111152.svg" alt="Btn for close form">
            </div>
            <div class="reg-form-header">
                <h4>SIGN UP</h4>
            </div>
            <div class="reg-form-group">
                <label for="name">Name</label>
                <input class="reg-form-control" type="text" name="name">
            </div>
            <div class="reg-form-group">
                <label for="email">Email</label>
                <input class="reg-form-control" type="email" name="email">
            </div>
            <div class="reg-form-group">
                <label for="password">Password</label>
                <input class="reg-form-control" type="password" name="password">
            </div>
            <div class="reg-form-group">
                <label for="repPass">Repeat Password</label>
                <input class="reg-form-control" type="password" name="repPass">
            </div>
            <div class="reg-form-group">
                <button type="button" class="reg-submit-btn">SIGN UP</button>
            </div>
        </form>
    </div>
</div>
