<div class="hide-signIn-form">
    <div class="signIn-form-container">
        <form class="signIn-form" name="form">
            <div class="signIn-close-elem">
                <img src="../../images/close_111152.svg" alt="Btn for close form">
            </div>
            <div class="signIn-form-header">
                <h4>SIGN IN</h4>
            </div>
            <div class="signIn-form-group">
                <label for="email">Email</label>
                <input class="signIn-form-control" type="email" name="email">
            </div>
            <div class="signIn-form-group">
                <label for="password">Password</label>
                <input class="signIn-form-control" type="password"  name="password">
            </div>
            <div class="signIn-form-group">
                <button type="button" class="signIn-submit-btn">SIGN IN</button>
            </div>
        </form>
    </div>
</div>
