<div class="countries">
    <table>
        <thead>
        <tr>
            <th>Economic</th>
            <th>Id_Nation</th>
            <th>Nation</th>
            <th>Id_Year</th>
            <th>Year</th>
            <th>Population</th>
            <th>Slug_Nation</th>
            <th>NameOfCountry</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody class="body-of-table">

        </tbody>

    </table>
</div>
