<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="../index.css">
    <link rel="icon" type="image/x-icon" href="../../images/favico.png">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/header.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/footer.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/formStyle.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/about.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheet/table.css">

</head>
<body>
<div class="wrapper">

    <header>
        {{> nav}}
    </header>

    <main>
        <div class="main-elem">
            <h1>About us</h1>
            <p>This website is my first app with server, with node</p>
        </div>
    </main>

    <footer>
        {{> footer}}
    </footer>
</div>
<!--<script type="module" src="../../javascript/form/chooseForm.js"></script>-->
<!--<script type="module" src="../../javascript/controller/apiData/displayApiData.js"></script>-->

</body>
</html>
